.container {
  margin-top: 40px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.bannerTitle {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Akkurat";
  text-align: start;
  color: #222;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  padding: 1.25rem;
  gap: 0.5rem;
}

.blogImg {
  width: 100% !important;
  /* height: 100% !important; */
  height: 300px;
  object-fit: cover;
}

.contentArea {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  width: 100%;
  text-align: start;
}

.blogCategory {
  font-size: 1rem;
  color: #979897;
  font-weight: 500;
  font-family: "Akkurat";
  text-transform: uppercase;
  margin-bottom: 1rem; /* 16px */
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
}

.title {
  font-size: 1.1rem;
  line-height: 1.3;
  letter-spacing: 0.5px;
  text-align: start;
  font-weight: 500;
  font-family: ChronicleDisplay;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "ChronicleDisplay";
  margin-bottom: 20px;
}

.title:hover {
  cursor: pointer;
  color: var(--primary-color);
}

/* Swiper Navigation */
.swiperWrapper {
  position: relative;
  padding: 0px;
}

.swiperButtonPrev,
.swiperButtonNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.swiperButtonPrev {
  left: 0;
}

.swiperButtonNext {
  right: 0;
}

/* Tablet boyutu (768px - 1024px) */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
  }
}

/* Mobil boyutu (640px altı) */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
  }

  .container,
  .swiperWrapper {
    padding: 0 20px;
  }

  .swiperButtonPrev,
  .swiperButtonNext {
    width: 30px;
    height: 30px;
  }
}

/* Button için responsive ayar */
@media (max-width: 768px) {
  .contentArea {
    gap: 0.75rem;
  }

  .title {
    font-size: 1.125rem;
  }
}
