/* Arrow İkon Animasyonu */
.toggle_icon {
  transition: transform 0.3s ease;
}

.toggle_icon.rotated {
  transform: rotate(180deg);
}

.filter_group {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.filter_group_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-bottom: 10px;
}

/* Filtre İçerik Animasyonu */
.filter_group_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.2s ease 0.1s;
  opacity: 0;
}

.filter_group_content.open {
  max-height: 1000px;
  opacity: 1;
  padding-bottom: 10px;
}
