.mobile_category_container {
  width: 100%;
  padding: 20px 0;
}

.mobile_category_container ul li {
  width: 100%;
  list-style: none;
}

.mobile_category_container ul li a {
  text-decoration: none;
  display: block;
  width: 50%;
}

.top_category_wrapper {
  border-bottom: 1px solid #e5e7eb;
  padding: 7px 0;
}

.top_category_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_category_content {
  list-style-type: none;
}

.top_category_content a {
  color: #000;
  padding: 10px;
  font-family: "Helvetica" !important;
  font-weight: 400;
}

.mobil_fixed_menu {
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 100px;
  left: 0;
  height: calc(100% - 100px);
}

.mobil_back {
  position: absolute;
  top: -60px;
  left: 10px;
  z-index: 9999999;
}

.top_category_content span {
  padding-right: 10px;
  width: 50%;
  padding: 10px 10px 10px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}

.childcategory {
  border-bottom: 1px solid #e5e7eb;
  padding: 7px 0;
}

.childcategory a {
  font-size: 16px;
  color: #000;
  padding: 10px;
  display: block;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-family: "Helvetica" !important;
  font-weight: 400;
}

.childcategory a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.header {
  padding: 12px 10px 5px 10px;
  color: #000;
  background-color: #fff;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sidenavButton {
  width: 22px;
  height: 22px;
  border: none;
  background: transparent;
}

.sidenavButton svg {
  width: 100%;
  height: 100%;
  margin-top: -2px;
}

.sidenavOverlay {
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 1sn ease-in-out;
  z-index: 99;
}

.sideNav,
.sideNav_open {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  color: #000;
  width: 350px;
  max-width: 100%;
  z-index: 99999;
  padding: 24px 0;
  transition: transform 300ms ease-in-out;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sideNav {
  transform: translateX(0);
}

.sideNav_open {
  transform: translateX(-350px);
}

.sidenavHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  align-items: center;
}

.sidenavlang {
  width: 100%;
  height: 52px;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #99999933;
  padding: 15px 0px;
  z-index: 1;
  background-color: #fff;
}

.sidenavlang div {
  padding-left: 5px;
  box-sizing: border-box;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 7px;
}

.cartWrapper {
  position: relative;
  background: none;
  border: none;
}

.cartQuantity {
  position: absolute;
  font-size: 12px;
  font-family: "Helvetica" !important;
  font-weight: 400;
  right: -4px;
  top: -10px;
  border-radius: 50%;
  padding: 2px;
  color: #000;
}

.sideCartModal,
.sideCartModal_open {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  color: #000;
  width: 300px;
  max-width: 100%;
  z-index: 9999;
  transition: transform 300ms ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sideCartModal {
  transform: translateX(0);
}

.sideCartModal_open {
  transform: translateX(350px);
}

.sideCartHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 8px;
  align-items: center;
}

.cartClose {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.backButton {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.sidenavCloseButton {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.bottomContent {
  width: 100%;
  margin-top: 30px;
}

.buttonPayment {
  width: 100%;
}

.buttonPayment a {
  text-decoration: none;
  color: #fff;
  font-family: "Helvetica" !important;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}

.buttonPayment a span:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
