.detail_wrapper {
  width: 100%;
  padding: 20px 60px 30px 0;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 9;
}
.detail_content h1 {
  font-size: 20px;
  font-weight: 300;
  font-family: "Helvetica" !important;
}

.productTag {
  font-size: 13px;
  color: #f60000;
  font-weight: 300;
  font-family: "Helvetica" !important;
  text-decoration: underline;
  text-underline-offset: 4px;
  display: flex;
  gap: 10px;
}
.productTag span {
  display: block;
  margin-bottom: 10px;
}
.price_content {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}
.price_content span {
  font-size: 1.1rem;
  line-height: 20px;
  font-weight: 400;
  font-family: "Helvetica" !important;
  text-wrap: nowrap;
}
.discCount del {
  font-size: 1rem;
  color: #000;
  opacity: 0.65;
  line-height: 20px;
}

.price {
  background-color: #9f0000;
  padding: 2px 17px;
  color: #fff;
  font-size: 14px;
}

.discount_rate {
  font-family: "Helvetica" !important;
  display: inline-block;
  border: 1px solid #222;
  color: #222;
  background: transparent;
  padding: 1px 8px;
  border-radius: 25px;
  font-size: 0.7rem;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.product_size {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 30px;
}
.product_size_item {
  width: 45px;
  height: 45px;
  min-width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  font-weight: 300;
  font-family: "Helvetica" !important;
  font-size: 13px;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease;
}

.product_size_item:hover {
  border: 1px solid #ddd;
  background: transparent;
}
.product_size_selected_item {
  width: 45px;
  height: 45px;
  min-width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  background: transparent;
  color: #000;
  font-weight: 300;
  font-family: "Helvetica" !important;
  font-size: 13px;
  cursor: pointer;
}
.product_size_item_no_stock_selected {
  width: 45px;
  height: 45px;
  min-width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  background: transparent;
  font-weight: 300;
  font-family: "Helvetica" !important;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  color: #999;
}

/* Variant ismi uzunsa ellipsis uygula  */
.product_size_item_label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40px;
}

.product_size_item_no_stock_selected::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 1px;
  background-color: #ddd;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 0 0 1px rgba(221, 221, 221, 0.5);
}

.product_size_item_no_stock {
  width: 45px;
  height: 45px;
  min-width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  font-weight: 300;
  font-family: "Helvetica" !important;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  color: #999;
  transition: all 0.3s ease;
}

.product_size_item_no_stock:hover {
  border: 1px solid #ddd;
  background: transparent;
}
.product_size_item_no_stock::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 1px;
  background-color: #ddd;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 0 0 1px rgba(221, 221, 221, 0.5);
}
.product_detail_colors {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 5px;
}
.product_detail_colors img {
  cursor: pointer;
}
.colorName {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  align-items: center;
}
.colorName span {
  font-size: 14px;
  color: #3b3b3b;
  text-decoration: underline;
}
.alternative_colors {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 6px;
}
.alternative_colors_title {
  font-weight: 300;
  font-family: "Helvetica" !important;
  font-size: 15px;
  margin-bottom: 10px;
}
.alternative_colors img {
  width: 100%;
}
.sort_title {
  color: #fff;
  font-weight: 300;
  font-family: "Helvetica" !important;
  padding: 8px 10px;
  background-color: #000;
  display: inline-block;
  margin-bottom: 10px;
}

/* Renk varyantları için CSS */
.color_variant_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.color_variants {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 10px;
  padding-left: 10px;
  max-width: 100%;
}

.color_item {
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.color_item:hover {
  border: 2px solid #333;
}

.color_item_selected {
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white;
}

.color_item_no_stock {
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.5;
  position: relative;
}

.color_item_no_stock::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.color_item_no_stock_selected {
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.5;
  position: relative;
  box-shadow: inset 0 0 0 2px white;
}

.color_item_no_stock_selected::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
@media only screen and (max-width: 1200px) {
  .product_size {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .detail_wrapper {
    padding: 30px 0;
  }
}
@media only screen and (max-width: 600px) {
  .alternative_colors {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .discount_rate {
    font-size: 0.8rem;
    padding: 3px 6px;
    margin-left: 6px;
  }
}
