.wrapper {
  width: 100%;
  position: relative;
}

.heroViewport {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.heroImage {
  /* position: fixed; */
  /* top: 0; */
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.heroImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1300px;
  padding: 2rem;
  color: white;
  padding-bottom: 8rem;
  z-index: 1;
}

.title {
  font-weight: 500;
  font-family: "Helvetica" !important;
  font-size: 1.5rem;
}

.textPicture {
  font-weight: 600;
  font-family: "Helvetica" !important;
  font-size: 3.2rem;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  background: white;
  position: relative;
}

.navDivider {
  max-width: 1300px;
  margin: 0 auto;
  border-bottom: 1px solid #999;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 20px;
}

.FooterLinks {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer_link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.footer_link a {
  text-decoration: none;
  color: #121314;
  font-weight: 400;
  font-family: "Helvetica" !important;
  padding: 10px 20px;
  display: block;
  font-size: 14px;
}

.footer_link a:hover {
  background-color: #f6f1eb;
}

/* İçerik Bölümü */
.about_content {
  padding: 10px 0;
  background: #fff;
}

.about_wrapper:not(:has(.hero_banner)) .about_content {
  padding-top: 50px;
}

.content_container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
}

.sidebar {
  width: 280px;
  padding-right: 60px;
  flex-shrink: 0;
}

.sidebar_title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  letter-spacing: 1px;
}

.main_content {
  flex: 1;
  padding-top: 20px;
}

/*= Kampanyalar Stili */

/* Zigzag Separator */
.zigzag_separator {
  text-align: center;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
  .heroViewport {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .contentGrid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .mainContent {
    grid-column: 1;
  }

  .sideContent {
    grid-column: 1;
  }
  .heroContent {
    padding: 1rem;
    padding-bottom: 3rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .textPicture {
    font-size: 1rem;
    max-width: 80%;
  }

  .container {
    padding: 10px;
  }
}
