.wrapper {
  width: 100%;
}
.container {
  /* max-width: 1480px; */
  margin: auto;
  padding: 0px 10px 20px;
  box-sizing: border-box;
}
.product_detail {
  display: grid;
  grid-template-columns: 1.5fr 1.3fr 0.3rem;
  gap: 5rem !important;
}
.product_slider {
  width: 100%;
}
.product_detail_content {
  width: 100%;
  height: 100%;
}

/*= Ayrık çizgisi - Divider */
.divider {
  width: 100%;
  height: 1px;
  background-color: #f0f0f0;
  margin: 0;
  border: none;
}

/*= Responsive  */

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0px 10px;
  }
}
@media only screen and (max-width: 750px) {
  .product_detail {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem !important;
  }
}
