.EmailSubscription {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 50px auto;
  /* padding: 0 20px; */
  background-color: transparent;
}

.Title {
  font-size: 14px;
  /* font-weight: 600; */
  text-align: start;
  margin-bottom: 24px;
  color: #333;
  font-family: "HelveticaNeueLight" !important;
  letter-spacing: 0.1px;
}

.CustomForm {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.CustomForm:focus-within {
  border-color: #222;
}

.FloatingLabel {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #333;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.FloatingLabel.isFocused {
  top: 1px;
  transform: translateY(0);
  font-size: 12px;
  color: #222;
}

.InputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 0.5px solid #99999953;
  /* padding: 5px; */
}

.InputContainer input {
  flex: 1;
  padding: 18px 6px;
  font-size: 14px;
  color: #333;
  border: none;
  background: none;
  outline: none;
}

.InputContainer span {
  font-family: "HelveticaNeueLight" !important;
}

.InputContainer input:focus {
  outline: none;
  border-color: #222;
}

.ArrowButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f1ebeb;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ArrowButton:hover {
  background-color: #333;
}

.ArrowButton:disabled {
  opacity: 0.5;
  /* cursor: not-allowed; */
}

.ArrowButton svg {
  width: 14px;
  height: 14px;
  fill: #000;
  transition: fill 0.3s ease;
}

.ArrowButton:hover svg {
  fill: #fff;
}

.ResponseStatus {
  margin-top: 16px;
  font-size: 14px;
  text-align: center;
  color: var(--status-color);
}

.Modal {
  /* You can style modal component if needed */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ModalContent {
  animation: fadeIn 0.3s ease;
}

@media (min-width: 768px) {
  .EmailSubscription {
    margin-bottom: 30px;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
}
